@charset "UTF-8";
/*! tvidoo-grid.css v1.0_beta6 | MIT License | https://github.com/tvidoo-commerce/tvidoo-grid */
/*
 * Name:           tvidoo-grid
 * Description:    lightweight fluid CSS3 grid system
 * Author:         Thorsten Körner, tvidoo-commerce
 * Author URI:     http://www.tvidoo-commerce.com
 * Version:        1.0
 * License:        MIT-License (http://opensource.org/licenses/MIT)
 *
 * see license file in this distribution
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*! tvidoo-grid.css v1.0_beta6 Module mixins | MIT License | https://github.com/tvidoo-commerce/tvidoo-grid */
/* Name:           tvidoo-grid
 * Description:    lightweight fluid CSS3 grid system
 * Author:         Thorsten Körner, tvidoo-commerce 
 * Author URI:     http://www.tvidoo-commerce.com
 * Version:        1.0
 * License:        MIT-License (http://opensource.org/licenses/MIT) 
 * 
 * see license file in this distribution
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
/* Setting the class name prefix to prevent from destroying other systems like bootstrap
 */
/*! tvidoo-grid.css v1.0_beta6 Module styles | MIT License | https://github.com/tvidoo-commerce/tvidoo-grid */
/* Name:           tvidoo-grid
 * Description:    lightweight fluid CSS3 grid system
 * Author:         Thorsten Körner, tvidoo-commerce
 * Author URI:     http://www.tvidoo-commerce.com
 * Version:        1.0
 * License:        MIT-License (http://opensource.org/licenses/MIT)
 *
 * see license file in this distribution
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */
.tvg--fullwidth {
  position: absolute;
  left: 0;
  width: 100%; }

/*# sourceMappingURL=tvidoo-grid.css.map */
