/*! _code.sass v1.0_beta6 Module code | MIT License | https://github.com/tvidoo-commerce/tvidoo-grid */
code,
.#{$classNamePrefix}code
  font-family: monospace
  white-space: pre
  border: 1px solid $grey
  @include border-radius(4px)
  padding: 5px
  background: $lightgrey
  display: block
  text-wrap: normal
  overflow: visible
