/*! _code.sass v1.0_beta6 Module code | MIT License | https://github.com/tvidoo-commerce/tvidoo-grid */
code
  font-family: monospace
  white-space: pre

.#{$classNamePrefix}code
  font-family: monospace
  white-space: pre
  background: $lightgrey
  border: 1px solid $primary
